@import url("https://fonts.googleapis.com/css2?family=Arsenal:ital,wght@0,400;0,700;1,400;1,700&family=Sevillana&family=Zen+Kaku+Gothic+New:wght@300;400;500;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@700;800&display=swap");

/*
font-family: 'Arsenal', sans-serif;
font-family: 'Sevillana', cursive;
font-family: 'Zen Kaku Gothic New', sans-serif;
*/

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

html {
   scroll-behavior: smooth;
   cursor: none;
}

body {
   color: white;
   background-color: #0f0f0f;
   overflow-x: hidden;
}

body::-webkit-scrollbar {
   display: none;
}

::selection {
   background: rgb(255, 229, 82);
   color: #2d2d2d;
}

body::after {
   content: "";
   position: fixed;
   width: 100%;
   height: 100%;
   top: 0;
   background-image: url(../../asstes/ss.gif);
   background-size: cover;
   opacity: 1.8%;
   z-index: -1;
}

/*logo*/
h1 {
   font-family: "Sevillana", cursive;
   font-weight: lighter;
   font-size: 3.5rem;
}

h2 {
   font-family: "Zen Kaku Gothic New", sans-serif;
   font-weight: 500;
   border-bottom: 2px solid currentColor;
   display: inline-block;
   font-size: 3rem;
}

h5 {
   font-family: "Zen Kaku Gothic New", sans-serif;
   font-size: 1.1em;
   font-weight: lighter;
}

p {
   font-family: "Arsenal", sans-serif;
   font-size: 1.3rem;
   font-weight: lighter;
}

a {
   color: white;
   cursor: none;
}

.accent {
   color: #e9c600;
}

/* loading */
.loading-wrap {
   position: fixed;
   width: 100%;
   height: 100vh;
   background-color: #e9c600;
   color: #2d2d2d;
   z-index: 100;
   display: flex;
   justify-content: center;
   align-items: center;
   transition: all 0.42s ease-out;
}

.bundar {
   position: fixed;
   width: 100%;
   height: 100vh;
   background-color: #383838;
   z-index: 99;
   transition: all 0.52s ease-in;
}

.loading {
   display: flex;
   align-items: center;
   gap: 10px;
}

.bullet {
   background-color: #2d2d2d;
   border-radius: 100%;
   width: 0.8em;
   height: 0.8em;
}

.loading-word {
   border: none;
}

.hidden {
   display: none;
}

/*Header*/
.cont-header {
   position: fixed;
   display: flex;
   align-items: center;
   top: 0;
   justify-content: space-between;
   align-content: center;
   padding: 25px 6%;
   width: 100%;
   color: #2d2d2d;
   transition: top 0.7s ease;
   z-index: 10;
}

.logo {
   user-select: auto;
   font-size: 5em;
}

.logo:hover {
   animation-name: anu;
   animation-duration: 1s;
   animation-fill-mode: ease-in-out;
   animation-iteration-count: 2;
}

@keyframes anu {
   0% {
      letter-spacing: normal;
   }
   50% {
      letter-spacing: 10px;
   }
   100% {
      letter-spacing: normal;
   }
}

/* For the Navigation Bar */
.cont-navbar {
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.burger,
.disappear {
   display: none;
}

.socList1 {
   display: none;
}

ul.navbar {
   display: flex;
}

ul.navbar li {
   list-style: none;
   padding: 2px 30px;
}

.navlist {
   position: relative;
   width: max-content;
   font-size: 1.5em;
   font-family: "Arsenal", sans-serif;
   color: #2d2d2d;
   text-decoration: none;
   transition: color 0.4s ease-out;
}

.navlist::after {
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   height: 2px;
   width: 100%;
   background: white;
   transform: scaleX(0);
   transform-origin: right;
   transition: transform 0.4s ease-out;
}

.mob-nav-text {
   display: none;
}

.list:hover .navlist::after,
.navlist:hover {
   transform: scaleX(1);
   transform-origin: left;
}
/* End of the Navigation Bar */
/* End of the Header */

/* Home */
.contentHome {
   position: relative;
   color: #2d2d2d;
   min-height: 100vh;
   display: grid;
   grid-template-columns: 6% repeat(2, 1fr) 6%;
   grid-template-rows: 20% repeat(3, 1fr) 10%;
}

.contentHome::before {
   content: " ";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-image: url(../../asstes/meh.jpg);
   background-position: center;
   background-size: cover;
   background-attachment: fixed;
   z-index: -6;
}

.myName {
   grid-column: 2/3;
   grid-row: 2/5;
   align-self: center;
}

.contentHome h2.title {
   font-family: "Nunito Sans", sans-serif;
   text-transform: uppercase;
   border: none;
   font-weight: 500px;
   font-size: 7rem;
   margin-bottom: 10px;
}

.outward {
   width: 5em;
   transform: rotate(180deg);
   grid-column: 3/4;
   grid-row: 2/3;
   justify-self: flex-end;
}

.bio {
   grid-column: 3/4;
   grid-row: 2/4;
   text-align: end;
   align-self: center;
   justify-self: center;
}

.bio p {
   font-size: 2.5em;
}

.time-wrap {
   grid-column: 3/4;
   grid-row: 3/5;
   color: #2d2d2d;
   text-align: end;
   align-self: center;
   justify-self: center;
}

.time-wrap p {
   font-size: 1.4em;
}

.time-div {
   display: flex;
   gap: 7px;
}

/* End of the Home */

/* About */
.contentAbout {
   min-height: 100vh;
   margin-inline: 160px;
   position: relative;
   display: grid;
   grid-template-columns: repeat(2, 1fr);
   grid-template-rows: 25% 1fr 5%;
   grid-column-gap: 60px;
}

.contentAbout h2 {
   margin-bottom: 30px;
}

.about {
   grid-column: 1/2;
   grid-row: 2/3;
   align-self: flex-start;
}

.text1 {
   grid-column: 1/2;
   grid-row: 2/3;
   align-self: center;
   letter-spacing: 1px;
   line-height: 2em;
}

.text1 p {
   font-size: 1.4rem;
}

.skillSet {
   grid-column: 2/3;
   grid-row: 2/3;
}

.icons {
   width: 6em;
}

.skillList {
   display: grid;
   grid-template-columns: auto auto auto;
   gap: 30px;
   align-items: center;
}

/* Skills */
.titleSkill {
   grid-column: 2/3;
   grid-row: 3/4;
   align-self: center;
   justify-self: flex-start;
}

.skillCoding {
   grid-column: 1/2;
}

.skillTitle {
   margin-bottom: 20px;
}

ul.skillList {
   list-style: none;
   font-size: 1.3rem;
   font-weight: lighter;
   font-family: "Arsenal", sans-serif;
}

.text2 {
   position: relative;
   left: calc(100% / 2 - 50px);
}

.link {
   height: 8em;
   width: 8em;
   color: #2d2d2d;
   position: relative;
   text-decoration: none;
   margin-top: 30px;
   display: flex;
   gap: 10px;
   font-size: 1.3rem;
   align-items: center;
   justify-content: center;
   border-radius: 100%;
   padding: 5px;
   transition: all 0.52s ease-in-out;
   overflow: hidden;
}

.link::before {
   position: absolute;
   content: "";
   height: 100%;
   width: 100%;
   bottom: 0;
   left: 0;
   border-radius: 100%;
   z-index: -2;
   background-color: #e9c600;
}

.link::after {
   position: absolute;
   content: "";
   height: 100%;
   width: 100%;
   bottom: -100%;
   left: 0;
   border-radius: 100%;
   z-index: -1;
   transform: scaleY(0);
   transform-origin: bottom;
   background-color: #383838;
   transition: all 0.6s ease-out;
}

.link:hover {
   color: #ffffff;
}

.link:hover::after {
   transform: scaleY(3);
}

.link-icon {
   width: 1.8em;
}
/* end of About */

/* Projects */
.textProject {
   padding: 0px 2%;
   text-align: center;
   font-weight: bold;
   font-size: 5.5rem;
   text-decoration: none;
   font-family: "Zen Kaku Gothic New", sans-serif;
   color: #e9c600;
}

.textProject:hover {
   color: #0f0f0f;
   background-color: #e9c600;
   box-shadow: 0px 0px 10px 1000px rgba(15, 15, 15, 0.5);
   transform: scale(0.97);
}
/* animation text */
.textProject {
   transform: translateY(60%);
   opacity: 0;
   transition: 0.5s ease-in-out;
}

.textProjectAppear {
   transform: translateY(0%);
   opacity: 1;
}
/* end of animation */

.contentProject {
   min-height: 100vh;
   display: grid;
   grid-template-columns: 10% 1fr 10%;
   grid-template-rows: 15% 85% 10%;
   transition: 0.8s ease;
}

.titleProject {
   grid-column: 2/3;
   grid-row: 1/2;
   align-self: flex-end;
}

.projectsContainer {
   margin-top: 20px;
   grid-column: 2/3;
   grid-row: 2/3;
   align-self: flex-start;
}

.project {
   list-style: none;
   display: flex;
   justify-content: space-between;
   line-height: 3.4em;
   transition: 0.32s ease-out;
   padding: 25px 25px;
   transition-delay: 0.25s;
}

.project p {
   font-size: 1.2em;
}

.project p:nth-child(2) {
   display: none;
}

.project img {
   position: absolute;
   visibility: hidden;
   object-fit: cover;
   right: 10%;
   bottom: -30px;
   transform: translateY(-15%);
   opacity: 0;
   transition: all 0.39s ease;
   transition-delay: 0s;
   height: 300px;
   width: 450px;
   z-index: -2;
}

.line {
   position: relative;
   height: 2px;
   width: 100%;
   background: rgba(255, 255, 255, 0.2);
}

.projects a {
   text-decoration: none;
   position: relative;
   font-family: "Arsenal", sans-serif;
   font-size: 1.5rem;
   transition: all 0.4s ease-in-out;
}

.right {
   background-color: #2d2d2d;
   height: 2.4em;
   width: 2.4em;
   padding: 15px;
   transform: rotate(90deg);
   border-radius: 50%;
   fill: white;
   transition: all 0.32s ease-in-out;
}

.project:hover .right {
   background-color: #e9c600;
   transform: rotate(45deg);
   fill: #2d2d2d;
}

.project:hover {
   transform: translateX(-10px);
   color: #e9c600;
   transition-delay: 0s;
}

.project:hover img {
   visibility: visible;
   transform: translateY(0%);
   opacity: 1;
   transition-delay: 0.25s;
}

/* for the text animation */
.titleProject {
   transform: translateY(30%);
   opacity: 0;
   transition: all 0.7s ease-in-out;
}

.titleProjectAppear {
   opacity: 1;
   transform: translateY(0);
}

.projectsContainer {
   transform: translateY(30%);
   opacity: 0;
   transition: all 0.7s ease-in-out;
}

.projectsContainerAppear {
   opacity: 1;
   transform: translateY(0);
}
/* end of the Projects */

/* Contact */
.contentContact {
   min-height: 100vh;
   display: grid;
   grid-template-columns: 6% 1fr 7%;
   grid-template-rows: 10% 80% 10%;
}

.textContact {
   grid-column: 2/3;
   grid-row: 2/3;
   align-self: center;
   text-align: center;
}

.this {
   position: relative;
   padding: 250px 0px;
}

.this::after {
   /*52*/
   content: "";
   position: absolute;
   left: 0;
   bottom: 0;
   height: 2px;
   width: 100%;
   background: white;
   transform: scale(0);
   transform-origin: left;
   transition: transform 0.4s ease-in-out;
   transition-delay: 0.4s;
}
.this::before {
   content: "";
   position: absolute;
   left: 0;
   top: 0;
   height: 2px;
   width: 100%;
   background: white;
   transform: scale(0);
   transform-origin: right;
   transition: transform 0.4s ease-in-out;
   transition-delay: 0.4s;
}

.textContact:hover .this::before {
   transform: scale(1);
}

.textContact:hover .this::after {
   transform: scale(1);
}

.this h2 {
   border: none;
}

.contact {
   z-index: 2;
}

.contact a {
   color: white;
   text-decoration: underline;
   transition: 0.4s ease-in-out;
}

.footer {
   display: flex;
   justify-content: space-between;
   grid-column: 2/3;
   grid-row: 3/4;
   align-items: center;
}

ul.socList {
   display: flex;
   list-style: none;
}

.socialMedia {
   display: flex;
   justify-content: space-around;
   align-items: center;
   gap: 15px;
}

.social {
   padding: 0 1rem;
}

.svgSocial {
   stroke: none;
   fill: white;
   stroke-width: 1;
   width: 1.5rem;
   height: 1.5rem;
}

.svgSocial:hover {
   transform: rotate(10deg);
   transition: transform 0.4s cubic-bezier(0.68, -0.69, 0.26, 1.68);
}

/* for the animation */
.contact {
   opacity: 0;
   transform: translateY(30%);
   transition: all 0.7s ease-in-out;
}

.contact a {
   padding: 40px 25px;
}

.textContactAppear {
   opacity: 1;
   transform: translateY(0%);
}

.thisAdd::after {
   transform: scale(1);
}
.thisAdd::before {
   transform: scale(1);
}

/* cursor */
.cursor {
   width: 2em;
   height: 2em;
   border-radius: 100%;
   position: fixed;
   transform: translate(-50%, -50%);
   pointer-events: none;
   z-index: 11;
   transition: all 0.1s ease-out;
   transition-property: width, height;
   backdrop-filter: invert();
   transform-origin: 100% 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}

.grow {
   width: 4em;
   height: 4em;
}

.grow-more {
   width: 10em;
   height: 10em;
}

.nav,
.email,
.cv {
   padding: 15px;
   font-size: 20px;
   text-align: center;
   display: none;
   color: #2d2d2d;
}
